{% assign yyyymmdd = "now" | date: "%Y-%m-%d" %}

<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.contact.corp | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.contact.email %}
          <li>
            <b>Kontakt:</b>
            <span id="honeypot">{{ yyyymmdd }}@vdsc.de</span>
          </li>
          {% endif %}
          {% if site.contact.address %}
          <li><b>Postanschrift: </b>{{ site.contact.address | escape }}</li>
          {% endif %}
          {% if site.contact.name %}
          <li><b>Ansprechpartner:</b> {{ site.contact.name | escape }}</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  function fillHoneypot() {
    var honeypot = document.getElementById("honeypot"),
      date = new Date(),
      replacement = date.toISOString().split("T")[0] + "@vdsc.de";
    honeypot.innerHTML = replacement;
  }
  document.getElementById("honeypot").onload = fillHoneypot();
</script>
