<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | sort: "order" | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1330 462"
      height="462"
      width="1330">
        <style>
          path,rect {
            fill:#2e2e2e;
          }
          @media (prefers-color-scheme: dark) {
            path,rect {
              fill:#fdfdfd;
            }
          }
        </style>
        <rect
            x="0" y="0" rx="10" ry="10"
            width="100" height="100" />
        <rect
            x="120" y="0" rx="10" ry="10"
            width="100" height="100"
            style="fill:#ffd42a" />
        <rect
            x="0" y="120" rx="10" ry="10"
            width="100" height="100"
            style="fill:#00a600" />
        <path
            d="m 190.64679,120.00073 -17.35287,82.35261 h -6.61763 l -17.35287,-82.35261 h -21.32344 l 23.2352,99.9996 h 37.49985 l 23.2352,-99.9996 z" />
        <path
            d="m 225.2813,220.00033 h 64.70562 v -17.64699 h -44.41158 v -23.97046 h 35.58809 v -17.35293 h -35.58809 v -23.38223 h 44.41158 V 120.00073 H 225.2813 Z" />
        <path
            d="m 346.70545,186.47105 11.61761,33.52928 h 22.20579 L 366.2642,181.76519 c 9.11761,-5.73525 14.70583,-14.99999 14.70583,-28.82342 0,-22.794 -12.49996,-32.94104 -35.29398,-32.94104 h -38.82338 v 99.9996 h 20.29404 v -33.52928 z m 13.52936,-33.23521 c 0,8.82349 -4.11763,15.88229 -14.26464,15.88229 h -18.82346 v -31.76458 h 18.52934 c 9.70584,0 14.55876,6.32358 14.55876,15.88229 z" />
        <path
            d="m 397.9024,220.00033 h 64.70562 v -17.64699 h -44.41158 v -23.97046 h 35.58809 v -17.35293 h -35.58809 v -23.38223 h 44.41158 V 120.00073 H 397.9024 Z" />
        <path
            d="m 479.47376,220.00033 h 20.29404 v -99.9996 h -20.29404 z" />
        <path
            d="m 521.40834,220.00033 h 20.29404 v -82.35261 h 1.47058 l 24.9999,82.35261 h 33.38223 v -99.9996 h -20.29404 v 82.35261 h -1.47058 l -24.11755,-82.35261 h -34.26458 z" />
        <path
            d="m 623.37255,220.00033 h 20.29404 v -99.9996 h -20.29404 z" />
        <path
            d="m 706.9246,184.11812 h 9.11762 v 19.41169 c 0,0 -6.17645,0.58823 -12.20583,0.58823 -18.23522,0 -21.91169,-7.49994 -21.91169,-34.11751 0,-28.0881 5.14705,-33.82345 22.49992,-33.82345 13.38229,0 31.02928,1.91179 31.02928,1.91179 l 0.58824,-15.73521 c 0,0 -19.41169,-4.11763 -34.8528,-4.11763 -29.55871,0 -40.14691,15.29406 -40.14691,51.7645 0,33.52928 8.23527,51.7645 40.88219,51.7645 13.08819,0 34.11752,-3.38231 34.11752,-3.38231 V 166.47113 H 706.9246 Z" />
        <path
            d="m 774.61965,186.61814 v -66.61741 h -20.29403 v 66.17615 c 0,24.99996 13.08817,35.58815 38.08808,35.58815 24.9999,0 38.08808,-10.58819 38.08808,-35.58815 v -66.17615 h -20.29403 v 66.61741 c 0,11.76466 -5.88233,17.4999 -17.79405,17.4999 -11.91172,0 -17.79405,-5.58827 -17.79405,-17.4999 z" />
        <path
            d="m 851.42771,220.00033 h 20.29404 v -82.35261 h 1.47058 l 24.9999,82.35261 h 33.38222 v -99.9996 h -20.29404 v 82.35261 h -1.47058 l -24.11755,-82.35261 h -34.26457 z" />
        <path
            d="m 995.00945,184.11812 h 9.11755 v 19.41169 c 0,0 -6.17639,0.58823 -12.2058,0.58823 -18.23522,0 -21.91171,-7.49994 -21.91171,-34.11751 0,-28.0881 5.14701,-33.82345 22.49994,-33.82345 13.38227,0 31.02927,1.91179 31.02927,1.91179 l 0.5882,-15.73521 c 0,0 -19.4117,-4.11763 -34.8528,-4.11763 -29.55867,0 -40.14687,15.29406 -40.14687,51.7645 0,33.52928 8.23527,51.7645 40.88218,51.7645 13.08819,0 34.11749,-3.38231 34.11749,-3.38231 v -51.91159 h -29.11745 z" />
        <path
            d="m 169.67633,340.0003 c 35.88221,0 42.49984,-17.79397 42.49984,-51.91148 0,-33.23521 -7.64703,-48.08812 -42.49984,-48.08812 H 136 v 99.9996 z m 21.61757,-51.91148 c 0,22.20577 -1.91177,34.26449 -21.61757,34.26449 h -13.38229 v -64.70562 h 13.38229 c 19.7058,0 21.61757,8.52943 21.61757,30.44113 z" />
        <path
            d="m 269.77475,306.47102 11.61759,33.52928 h 22.2058 l -14.26465,-38.23514 c 9.11761,-5.73525 14.70582,-14.99989 14.70582,-28.82342 0,-22.794 -12.49994,-32.94104 -35.29398,-32.94104 h -38.82337 v 99.9996 H 250.216 v -33.52928 z m 13.52936,-33.23511 c 0,8.8235 -4.11763,15.88229 -14.26466,15.88229 H 250.216 v -31.76458 h 18.52933 c 9.70585,0 14.55878,6.32348 14.55878,15.88229 z" />
        <path
            d="m 320.97169,340.0003 h 64.70562 v -17.64699 h -44.41159 v -23.97046 h 35.5881 v -17.35282 h -35.5881 v -23.38234 h 44.41159 V 240.0007 h -64.70562 z" />
        <path
            d="m 464.16046,242.20665 c 0,0 -19.55874,-3.97065 -32.94105,-3.97065 -20.29404,0 -34.11751,8.97058 -34.11751,29.70582 0,16.02937 8.52938,23.6764 31.02929,30.14696 14.41171,4.11763 17.94111,6.91171 17.94111,13.08811 0,7.79411 -4.70587,12.94112 -15.58817,12.94112 -10.44114,0 -30.14695,-2.64699 -30.14695,-2.64699 l -2.05881,15.7352 c 0,0 19.7058,4.55878 33.38222,4.55878 19.70581,0 34.55868,-10.14694 34.55868,-31.91156 0,-16.61761 -6.61761,-22.64702 -28.23518,-29.55873 -16.76464,-5.2941 -20.73521,-7.49994 -20.73521,-13.82353 0,-6.61754 5.14704,-10.58819 16.02935,-10.58819 8.52937,0 29.26459,2.35293 29.26459,2.35293 z" />
        <path
            d="m 516.35465,340.0003 c 35.88221,0 42.49982,-17.79397 42.49982,-51.91148 0,-33.23521 -7.64702,-48.08812 -42.49982,-48.08812 h -33.67634 v 99.9996 z m 21.61755,-51.91148 c 0,22.20577 -1.91175,34.26449 -21.61755,34.26449 h -13.38231 v -64.70562 h 13.38231 c 19.7058,0 21.61755,8.52943 21.61755,30.44113 z" />
        <path
            d="m 576.60027,340.0003 h 20.29403 v -82.35261 h 1.47059 l 24.9999,82.35261 h 33.38222 v -99.9996 h -20.29403 v 82.35261 h -1.47059 L 610.86484,240.0007 h -34.26457 z" />
        <path
            d="m 678.56448,340.0003 h 64.70563 v -17.64699 h -44.41159 v -23.97046 h 35.58809 v -17.35282 h -35.58809 v -23.38234 h 44.41159 V 240.0007 h -64.70563 z" />
        <path
            d="m 799.98862,306.47102 11.61761,33.52928 h 22.20579 l -14.26465,-38.23514 c 9.11762,-5.73525 14.70583,-14.99989 14.70583,-28.82342 0,-22.794 -12.49996,-32.94104 -35.29398,-32.94104 h -38.82337 v 99.9996 h 20.29403 v -33.52928 z m 13.52936,-33.23511 c 0,8.8235 -4.11763,15.88229 -14.26464,15.88229 h -18.82346 v -31.76458 h 18.52934 c 9.70584,0 14.55876,6.32348 14.55876,15.88229 z" />
        <path
            d="m 197.96443,362.20654 c 0,0 -19.55874,-3.97054 -32.94105,-3.97054 -20.29404,0 -34.11751,8.97058 -34.11751,29.70571 0,16.02937 8.52938,23.6764 31.02929,30.14696 14.41171,4.11763 17.94111,6.91171 17.94111,13.08821 0,7.79412 -4.70587,12.94113 -15.58818,12.94113 -10.44114,0 -30.14694,-2.6471 -30.14694,-2.6471 l -2.05881,15.73531 c 0,0 19.7058,4.55878 33.38222,4.55878 19.7058,0 34.55868,-10.14705 34.55868,-31.91167 0,-16.61761 -6.61761,-22.64691 -28.23518,-29.55873 -16.76464,-5.2941 -20.73521,-7.49994 -20.73521,-13.82342 0,-6.61765 5.14704,-10.5882 16.02935,-10.5882 8.52937,0 29.26459,2.35294 29.26459,2.35294 z" />
        <path
            d="m 207.51173,377.94175 h 26.7646 v 82.05855 h 20.29404 v -82.05855 h 26.47048 V 360.0007 h -73.52912 z" />
        <path
            d="m 313.15699,426.6181 v -66.6174 h -20.29404 v 66.17615 c 0,24.99995 13.08819,35.58815 38.08809,35.58815 24.9999,0 38.08808,-10.5882 38.08808,-35.58815 V 360.0007 h -20.29404 v 66.6174 c 0,11.76466 -5.88233,17.49991 -17.79404,17.49991 -11.91172,0 -17.79405,-5.58827 -17.79405,-17.49991 z" />
        <path
            d="m 423.64139,460.0003 c 35.88221,0 42.49982,-17.79408 42.49982,-51.91159 0,-33.23511 -7.64703,-48.08801 -42.49982,-48.08801 h -33.67635 v 99.9996 z m 21.61755,-51.91159 c 0,22.20577 -1.91175,34.2646 -21.61755,34.2646 h -13.38231 v -64.70563 h 13.38231 c 19.7058,0 21.61755,8.52933 21.61755,30.44103 z" />
        <path
            d="m 483.887,460.0003 h 64.70563 v -17.64699 h -44.41159 v -23.97047 h 35.5881 v -17.35292 h -35.5881 v -23.38224 h 44.41159 V 360.0007 H 483.887 Z" />
        <path
            d="m 565.45838,460.0003 h 20.29404 v -82.35262 h 1.47058 l 24.9999,82.35262 h 33.38221 v -99.9996 h -20.29403 v 82.35261 h -1.47059 L 599.72294,360.0007 h -34.26456 z" />
        <path
            d="m 658.45203,377.94175 h 26.7646 v 82.05855 h 20.29403 v -82.05855 h 26.47049 V 360.0007 h -73.52912 z" />
        <path
            d="m 744.68561,460.0003 h 64.70562 v -17.64699 h -44.41159 v -23.97047 h 35.5881 v -17.35292 h -35.5881 v -23.38224 h 44.41159 V 360.0007 h -64.70562 z" />
        <path
            d="m 826.25697,460.0003 h 20.29404 v -82.35262 h 1.47058 l 24.9999,82.35262 h 33.38222 v -99.9996 h -20.29404 v 82.35261 h -1.47058 L 860.52153,360.0007 h -34.26456 z" />
        <path
            d="m 991.16211,441.76508 c -5.88233,0.88229 -18.3823,2.05876 -25.14696,2.05876 -17.35287,0 -20.88227,-6.91171 -20.88227,-33.82334 0,-28.38227 4.85291,-33.82345 20.29403,-33.82345 6.61758,0 18.97047,1.17646 25.7352,2.20595 l 0.58823,-16.17646 c -6.17649,-1.47053 -18.82345,-3.97054 -29.26459,-3.97054 -29.70576,0 -38.23514,13.82342 -38.23514,51.7645 0,34.9998 7.35291,51.7645 38.23514,51.7645 9.11759,0 22.35288,-1.91179 29.11751,-3.38232 z" />
        <path
            d="m 1064.9807,460.0003 v -17.94116 h -36.6175 V 360.0007 h -20.294 v 99.9996 z" />
        <path
            d="m 1096.1272,426.6181 v -66.6174 h -20.294 v 66.17615 c 0,24.99995 13.0881,35.58815 38.0881,35.58815 24.9998,0 38.088,-10.5882 38.088,-35.58815 V 360.0007 h -20.2939 v 66.6174 c 0,11.76466 -5.8824,17.49991 -17.7941,17.49991 -11.9118,0 -17.7941,-5.58827 -17.7941,-17.49991 z" />
        <path
            d="m 1172.9352,360.0007 v 99.9996 h 39.8529 c 19.9999,0 32.4998,-8.67641 32.4998,-28.67633 0,-12.94113 -4.4117,-19.11763 -12.9411,-22.79411 7.9412,-4.99993 11.0294,-10.73517 11.0294,-22.05868 0,-19.11763 -11.0294,-26.47048 -31.1763,-26.47048 z m 38.8234,58.23506 c 8.0883,0 12.9411,3.82346 12.9411,12.05872 0,9.85298 -4.5587,12.35289 -12.9411,12.35289 h -18.5293 v -24.41161 z m -0.5882,-40.88225 c 7.647,0 11.6177,3.5294 11.6177,11.76466 0,7.9412 -3.5294,12.05883 -11.4706,12.05883 h -18.0882 v -23.82349 z" />
        <path
            d="m 1324.1663,362.20654 c 0,0 -19.5587,-3.97054 -32.9411,-3.97054 -20.294,0 -34.1175,8.97058 -34.1175,29.70571 0,16.02937 8.5294,23.6764 31.0294,30.14696 14.4116,4.11763 17.941,6.91171 17.941,13.08821 0,7.79412 -4.7058,12.94113 -15.5881,12.94113 -10.4412,0 -30.147,-2.6471 -30.147,-2.6471 l -2.0588,15.73531 c 0,0 19.7058,4.55878 33.3823,4.55878 19.7057,0 34.5586,-10.14705 34.5586,-31.91167 0,-16.61761 -6.6176,-22.64691 -28.2352,-29.55873 -16.7646,-5.2941 -20.7352,-7.49994 -20.7352,-13.82342 0,-6.61765 5.147,-10.5882 16.0294,-10.5882 8.5293,0 29.2645,2.35294 29.2645,2.35294 z" />
      </svg>
    </a>

    {% if page_paths %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
            {% for path in page_paths %} {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.menu %}
              {% unless my_page.menu == "ignore" %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu | escape }}</a>
              {% endunless %}
            {% elsif my_page.title %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% endfor %}
        </div>
      </nav>
    {% endif %}
  </div>
</header>
